-----BEGIN CERTIFICATE-----
MIIDCTCCAfGgAwIBAgIUbpmmDIK7flW2iiegtLefOrRdgRcwDQYJKoZIhvcNAQEL
BQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MB4XDTI1MDcxOTAzNDU0NFoXDTI2MDcx
OTAzNDU0NFowFDESMBAGA1UEAwwJbG9jYWxob3N0MIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEAmoRvDhjvaMvUYqLhsadas0nlOx7/0a0aj8dHY0k99m7L
ppjASoLXF+ohOLv2QlImZUNMqsD+Dqir2KXIsmPkinF16sJWmlblUPTRhkhxUtWB
n+1UuNHtqPjmEt/lVbewXrEQnrJI8CSTbOVan7ZbjmLDWgabnjwOr+580JWZ0ztm
41Bf0yRf7/vuPOUwgTstwjOXBaLkgdFLLjLGDnwTXzneCg+uNhUyK3yE+ioRyswl
YDLj/zI9tZuJTOpIY9GWDZWZJ/rowdqsKSQTyVThhgkUevPe5U42xN33pZJ6ipNA
6RFBMlPS6vduNzkrAWpIZaH3fIqtqSYkygAeJdqZNwIDAQABo1MwUTAdBgNVHQ4E
FgQUVms1zN1hCTYVywYMgo7fmZv9Pd0wHwYDVR0jBBgwFoAUVms1zN1hCTYVywYM
go7fmZv9Pd0wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAAZVf
cdj2xeliFaFqteevv+jnFC0DOC18nW2a7WF9gBuUIe3FkD/D6/15deUIvL1gsIdG
0w4OJ4pp8jdsioOJ05G6PSc8VPMoiAAb2SOsEVGx2x8HMfDTdl+0TOI3j1oDpwPD
9ly8cFDevi9WihON57XHEqBYvJ8w5xl2BhFZDJpNVnRTWIccRoHYn/DjIDlCC/AY
mB7quhyCHKjSsDy/ODK4W0B5omXVVfOd+eP7KC+BO5WOUBllVSrwAgCN1Z7rPwPc
7qOeRIX9Dn8dYZbnjChdWpZhW55MA43YR07AgIPzm3huU+fMf6GP/tF2YWwSpUOJ
lhT3dXQ9vItvxvE/kQ==
-----END CERTIFICATE-----
